<div id="<%= dom_id service_block %>">
  <p>
    <strong>Week day:</strong>
    <%= service_block.week_day %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= service_block.hour %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= service_block.service_id %>
  </p>

</div>
