<h1>Editing service block</h1>

<%= render "form", service_block: @service_block %>

<br>

<div>
  <%= link_to "Show this service block", @service_block %> |
  <%= link_to "Back to service blocks", service_blocks_path %>
</div>
