/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "custom_styles";
//@import "/\*";

@mixin btn_color($class, $color) {
  .btn-#{$class}, .btn-#{$class}:hover, .btn-#{$class}:focus, .btn-#{$class}:active, .btn-#{$class}:active:focus, .btn-#{$class}:disabled{
    background-color: $color;
    border-color: $color;
    box-shadow: none;
  }
  .btn-outline-#{$class}, .btn-outline-#{$class}:hover, .btn-outline-#{$class}:focus, .btn-outline-#{$class}:active, .btn-outline-#{$class}:active:focus, .btn-outline-#{$class}:disabled{
    background-color: transparent;
    border-color: $color;
    color: $color;
    box-shadow: none;
  }
}

@include btn_color(primary, $custom-primary-color);
@include btn_color(secondary, $custom-secondary-color);

a{
  color: $custom-primary-color;
  text-decoration: none;
  &:hover, &:focus{
    color: $custom-primary-color;
    text-decoration: underline;
  }
}

.top-12{
  top: 12%;
  position: relative;
}

.primary-color, .primary-color:active, .primary-color:focus, .primary-color:hover{
  color: $custom-primary-color;
}

.secondary-color, .secondary-color:active, .secondary-color:focus, .secondary-color:hover{
  color: $custom-secondary-color;
}

nav{
  box-shadow: $custom-card-shadow;
  background-color: white;
}

a.btn{
  text-decoration: unset;
}