/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "custom_styles";
//@import "/\*";

@mixin btn_color($class, $color) {
  .btn-#{$class}, .btn-#{$class}:hover, .btn-#{$class}:focus, .btn-#{$class}:active, .btn-#{$class}:active:focus, .btn-#{$class}:disabled{
    background-color: $color;
    border: 1px solid $color;
    box-shadow: none;
  }
  .btn-outline-#{$class}, .btn-outline-#{$class}:hover, .btn-outline-#{$class}:focus, .btn-outline-#{$class}:active, .btn-outline-#{$class}:active:focus, .btn-outline-#{$class}:disabled{
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    box-shadow: none;
  }
}

@include btn_color(primary, $custom-primary-color);
@include btn_color(secondary, $custom-secondary-color);

a{
  color: $custom-primary-color;
  text-decoration: none;
  &:hover, &:focus{
    color: $custom-primary-color;
    text-decoration: underline;
  }
}

.top-12{
  top: 12%;
  position: relative;
}

.primary-color, .primary-color:active, .primary-color:focus, .primary-color:hover{
  color: $custom-primary-color;
}

.secondary-color, .secondary-color:active, .secondary-color:focus, .secondary-color:hover{
  color: $custom-secondary-color;
}

nav{
  box-shadow: $custom-card-shadow;
  background-color: white;
}

a.btn{
  text-decoration: unset;
}

.divider {
    background-color: $custom-secondary-color;
    height: 2px;
    width: 100%;
    margin: 15px 0;
}

input:not(.form-control):not([type='submit']), input:not(.form-control):not([type='submit']):focus-visible{
  background-color: transparent;
  border: 1px solid $custom-primary-color;
  color: $custom-secondary-color;
  box-shadow: none;
  border-radius: $custom-border-radius;
  outline: unset;
  .input-group &{
    border-left: unset;
  }
}

.btn{
  text-align: center !important;
  svg{
    float: left;
  }
  &:not(.without-label) svg{
    margin-right: 10px;
  }
}

.input-group{
  display: contents;
  .input-group-text{
    background-color: transparent;
    border: 1px solid $custom-primary-color;
    border-right: unset;
  }
}

.border-secondary{
  border-color: $custom-secondary-color !important;
  color: $custom-secondary-color;
}

.nav-tabs .nav-link{
      border-bottom: 1px solid $custom-secondary-color !important;
      border-color: $custom-secondary-color !important;
}
.nav-tabs .nav-link.selected{
  border-top: 3px solid $custom-primary-color !important;
  border-bottom: unset !important;
}

::maker, .dropdown::maker{
  display: none;
}

.dropdown-toggle::after{
  display: none !important;
}