<br><br>
<div class="row justify-content-md-center">
  <div class="col-sm-offset-4 col-sm-4">
    <%= render Form::Component.new(
        title: I18n.t('devise.sign_up'),
        resource: resource,
        url: registration_path(resource_name),
        fields: registration_fields,
        submit: {text: I18n.t('devise.sign_up')}
    ) %>
  </div>
</div>